// Place all the styles related to the StoreWebSites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";

div#header{
  position: fixed;  /* ヘッダー領域の固定 */
  height: 50px;
  width: 100%;  /* 横幅は画面いっぱい */
  background: rgb(91, 155, 213);  /* 背景色 */
  z-index: 10;
}

div#header_area{
  margin: 0 auto;
  width: 1000px;
}

div#header_logo{
  width: 30%;
  padding: 10px 0 0 0;
  float: left;
}

div#gnavi{
  width:70%;
  padding: 10px 0 0 0;
  float: right;
  text-align: right;
}

div#gnavi ul{
  float: right;
}

div#gnavi li{
  float: left;
  margin: 0 0 0 10px;
}

div#container{
  width: 100%;
}

div#container_area{
  margin: 0 auto;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.8);

  padding: 50px 0 50px 0;
}

div#store_name{
  padding: 10px 0 10px 0;
  border-bottom: 2px dotted orange;
  text-align: center;
}

div#store_name_area{
  color: white;
  background: orange;
  padding: 2px;
  margin: 0 0 2px 0;

  display: inline-block;

  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */
}

div#main_panel_area{
  padding: 20px 0 0 0;
  margin: 0 auto;
  width: 70%;
  float: left;
}

div.menu_area{
  clear: both;
  margin: 10px 0 0 20px;
  color: white;
  background-color: rgba(115, 184, 226, 0.8);
  
  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */
}

div.menu_title{
  text-align: center;
  border-bottom: 1px dashed white;
  padding: 5px 0 5px 0;
}

div#main_panel_area .menu_desc{
  padding: 5px;
}

div.menu_desc .drink_link:link{
  text-decoration: underline;
  color: green;
}

div.menu_desc .drink_link:hover{
  color: red;
}

div#main_panel_area .image_area{
  width: 50%;

  position: relative;

  z-index: 9;
}

div#main_panel_area .image_disp_left{
  float: left;
  padding: 2px 0 0 0;
  text-align: center;
}

div#main_panel_area .image_area img {
  position: absolute;
  top: 5px;
  left: 5px;
  
  width:  300px;
  height: 300px;
  
  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */
}


div#main_panel_area .image_disp_right{
  float: right;
  padding: 2px 0 0 0;
}

div#main_panel_area ul{
  list-style: circle;
}

div#drink{
  background-color: rgba(115, 184, 226, 0.7);
  margin: 10px 0 0 20px;

  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */
}

div#drink .drink_heading{
  padding: 5px 0 5px 0;
  text-align: center;
  border-bottom: 1px dotted white;
}

div#drink .drink_sub_heading{
  clear: both;
  margin: 5px 0 0 0;
  text-align: center;
}

div#drink .drink_menu{
  clear: both;
  margin: 2px 0 0 0;
  text-align: center;
}

div#drink .drink_menu ul{
  list-style: none;
  text-align: center;
}
div#drink .drink_menu li{
  display: inline;
  margin: 0 0 0 10px;
}

div#side_bar{
  margin: 10px 5px 0 0;
  width: 27%;
  float: right;
}

div#side_bar_area{
  width: 250px;
  position: fixed;
}

div#reserve_info{
  // background-color: #73B8E2;
  background-color: rgba(115, 184, 226, 0.8);
  padding: 10px;

  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */
}

div#reserve_msg{
  margin: 5px 0 0 0;
}

div#reserve_msg .background_orange{
  background: orange;
  padding: 5px;
  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */
}

div#footer{
  width:100%;
  background-color: rgb(91, 155, 213);
}

div#footer_area{
  margin: 0 auto;
  width: 1000px;
}

div#footer_nav{
  width: 30%;
  padding: 10px;
  float: left;
}

div#footer_nav ul{
  float: left;
}

div#footer_nav li{
  float: left;
  padding: 0 0 0 10px;
}

div#footer_copy{
  width: 50%;
  float: right;
  text-align: right;
  padding: 10px;
}


div#reserve_area{
  margin: 20px;
}

div#reserve_area table{
  border-collapse: collapse;
  width: 800px;
  margin: 0 auto;
  background-color: rgba(115, 184, 226, 0.8);
}

div#reserve_area th, td{
  border: solid 1px;
  text-align:center;
  vertical-align: middle;
}

div#reserve_title_area{
  text-align: center;
  margin: 5px 0 10px 0;
}

a:link{
  color: #fff; /* 白色 */
  text-decoration: none; /* 下線はなし */
}

a:hover{
  color: red;
  text-decoration: underline;

}

.font_white{
  color: #fff;
}

.font_red{
  color: #f00;
}

.under_line{
  border-bottom: 1px dashed orange;
}

.put_center{
  text-align: center;
}

.put_right{
  text-align: right;
}

.put_left{
  text-align: left;
}

.font_small{
  font-size: small;
}

.items_circle{
  list-style: circle;
  
  text-indent: -1em;
  padding-left: 1em;

}

.background_green{
  background-color: green;
  padding: 1px;

  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */
}

.background_red{
  background-color: red;
  padding: 1px;

  -moz-border-radius:10px;/* Firefox用の角丸設定 */
  -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
  border-radius:10px; /* 角丸設定 */
}

ul li,ol li {
  list-style-position: inside;
}
